**.pyc
*.pyc
assets/fijas/Antillanca_Entrelagos.jpg
assets/fijas/Antillanca_Paraiso.jpg
assets/fijas/Antuco_Antuco.jpg
assets/fijas/Calbuco_Llanquihue.jpg
assets/fijas/Calbuco_Teski.jpg
assets/fijas/Calbuco_Ulmo.jpg
assets/fijas/Callaqui_ElBarco.jpg
assets/fijas/Carran_Carran.jpg
assets/fijas/Caulle_Entrelagos.jpg
assets/fijas/Chaiten_Camping.jpg
assets/fijas/Copahue_Caviahue.jpg
assets/fijas/Copahue_Mellizas.jpg
assets/fijas/Descabezado_Guamparo.jpg
assets/fijas/Guallatiri_Guallatiri.jpg
assets/fijas/Guindos_Carran.jpg
assets/fijas/Hornopiren_Tato.jpg
assets/fijas/Hudson_Vertientes.jpg
assets/fijas/Irruputuncu_Ujina.jpg
assets/fijas/Isluga_Chapicollo.jpg
assets/fijas/Lanin_Limite.jpg
assets/fijas/Lascar_Tumbre.jpg
assets/fijas/Lastarria_Pajonales.jpg
assets/fijas/Llaima_LaCruz.jpg
assets/fijas/Llaima_Lave.jpg
assets/fijas/Llaima_LaVirgen.jpg
assets/fijas/Llaima_Paile.jpg
assets/fijas/LMaule_Laguna.jpg
assets/fijas/Longavi_Retama.jpg
assets/fijas/Lonquimay_LaVirgen.jpg
assets/fijas/Maca_Ester.jpg
assets/fijas/MChoshuenco_Memorial.jpg
assets/fijas/Michinmahuida_Camping.jpg
assets/fijas/Mirador_Carran.jpg
assets/fijas/NChillan_Andarivel.jpg
assets/fijas/NChillan_Arauco.jpg
assets/fijas/NChillan_Portezuelo.jpg
assets/fijas/Olca_Aucanquilcha.jpg
assets/fijas/Ollague_Aucanquilcha.jpg
assets/fijas/Osorno_Cascadas.jpg
assets/fijas/Osorno_Entrelagos.jpg
assets/fijas/Osorno_Llanquihue.jpg
assets/fijas/Parinacota_Chucuyo.jpg
assets/fijas/Pellado_Guamparo.jpg
assets/fijas/Pocura_Carran.jpg
assets/fijas/PPeteroa_Biobio.jpg
assets/fijas/PPeteroa_Cancha.jpg
assets/fijas/PPeteroa_Guamparo.jpg
assets/fijas/Puyehue_Entrelagos.jpg
assets/fijas/Puyehue_Futangue.jpg
assets/fijas/Puyehue_TPuyehue.jpg
assets/fijas/Quetrupillan_Nevados.jpg
assets/fijas/SanJose_LoValdes.jpg
assets/fijas/SanPedro_ElAbra.jpg
assets/fijas/Taapaca_Alcerreca.jpg
assets/fijas/Tacora_Alcerreca.jpg
assets/fijas/Tatara_Guamparo.jpg
assets/fijas/Tolhuaca_LaVirgen.jpg
assets/fijas/Tupungatito_LaParva.jpg
assets/fijas/Villarrica_CVV.jpg
assets/fijas/Villarrica_Llafenco.jpg
assets/fijas/Villarrica_PCuevasVolcanicas.jpg
assets/fijas/Villarrica_Vn2.jpg
assets/fijas/Yate_Puelo.jpg
assets/timelapses/Antillanca_Entrelagos.gif
assets/timelapses/Antillanca_Paraiso.gif
assets/timelapses/Antuco_Antuco.gif
assets/timelapses/Calbuco_Llanquihue.gif
assets/timelapses/Calbuco_Teski.gif
assets/timelapses/Calbuco_Ulmo.gif
assets/timelapses/Callaqui_ElBarco.gif
assets/timelapses/Carran_Carran.gif
assets/timelapses/Caulle_Entrelagos.gif
assets/timelapses/Chaiten_Camping.gif
assets/timelapses/Copahue_Caviahue.gif
assets/timelapses/Copahue_Mellizas.gif
assets/timelapses/Descabezado_Guamparo.gif
assets/timelapses/Guallatiri_Guallatiri.gif
assets/timelapses/Guindos_Carran.gif
assets/timelapses/Hornopiren_Tato.gif
assets/timelapses/Hudson_Vertientes.gif
assets/timelapses/Irruputuncu_Ujina.gif
assets/timelapses/Isluga_Chapicollo.gif
assets/timelapses/Lanin_Limite.gif
assets/timelapses/Lascar_Tumbre.gif
assets/timelapses/Lastarria_Pajonales.gif
assets/timelapses/Llaima_LaCruz.gif
assets/timelapses/Llaima_Lave.gif
assets/timelapses/Llaima_LaVirgen.gif
assets/timelapses/Llaima_Paile.gif
assets/timelapses/LMaule_Laguna.gif
assets/timelapses/Longavi_Retama.gif
assets/timelapses/Lonquimay_LaVirgen.gif
assets/timelapses/Maca_Ester.gif
assets/timelapses/MChoshuenco_Memorial.gif
assets/timelapses/Michinmahuida_Camping.gif
assets/timelapses/Mirador_Carran.gif
assets/timelapses/NChillan_Andarivel.gif
assets/timelapses/NChillan_Arauco.gif
assets/timelapses/NChillan_Portezuelo.gif
assets/timelapses/Olca_Aucanquilcha.gif
assets/timelapses/Ollague_Aucanquilcha.gif
assets/timelapses/Osorno_Cascadas.gif
assets/timelapses/Osorno_Entrelagos.gif
assets/timelapses/Osorno_Llanquihue.gif
assets/timelapses/Parinacota_Chucuyo.gif
assets/timelapses/Pocura_Carran.gif
assets/timelapses/PPeteroa_Biobio.gif
assets/timelapses/PPeteroa_Cancha.gif
assets/timelapses/PPeteroa_Guamparo.gif
assets/timelapses/Puyehue_Entrelagos.gif
assets/timelapses/Puyehue_Futangue.gif
assets/timelapses/Puyehue_TPuyehue.gif
assets/timelapses/Quetrupillan_Nevados.gif
assets/timelapses/SanJose_LoValdes.gif
assets/timelapses/SanPedro_ElAbra.gif
assets/timelapses/Taapaca_Alcerreca.gif
assets/timelapses/Tatara_Guamparo.gif
assets/timelapses/Tupungatito_LaParva.gif
assets/timelapses/Villarrica_CVV.gif
assets/timelapses/Villarrica_Llafenco.gif
assets/timelapses/Villarrica_PCuevasVolcanicas.gif
assets/timelapses/Villarrica_Vn2.gif
assets/timelapses/Yate_Puelo.gif
*.pyc
*.pyc
*.pyc
apps/__pycache__/autovdas.cpython-38.pyc
assets/fijas/Villarrica_Conaripe.jpg
assets/timelapses/Villarrica_Conaripe.gif
scripts_aux/first_figure.html
scripts_aux/test_plotly.py
__pycache__/index.cpython-38.pyc
apps/__pycache__/autovdas.cpython-38.pyc
apps/__pycache__/locali6.cpython-38.pyc
apps/__pycache__/orcapp.cpython-38.pyc
apps/__pycache__/ovdapp.cpython-38.pyc
apps/__pycache__/ovdash.cpython-38.pyc
assets/liveHeli/AntillancaCasablanca.png
assets/liveHeli/Antuco.png
assets/liveHeli/Calbuco.png
assets/liveHeli/Callaqui.png
assets/liveHeli/CarranLosVenados.png
assets/liveHeli/Cay.png
assets/liveHeli/Chaiten.png
assets/liveHeli/Copahue.png
assets/liveHeli/Corcovado.png
assets/liveHeli/Descabezado.png
assets/liveHeli/Guallatiri.png
assets/liveHeli/Hornopiren.png
assets/liveHeli/Hudson.png
assets/liveHeli/Huequi.png
assets/liveHeli/Irruputuncu.png
assets/liveHeli/Isluga.png
assets/liveHeli/LagMaule.png
assets/liveHeli/Lanin.png
assets/liveHeli/Lascar.png
assets/liveHeli/Lastarria.png
assets/liveHeli/Llaima.png
assets/liveHeli/Lonquimay.png
assets/liveHeli/Maca.png
assets/liveHeli/Melimoyu.png
assets/liveHeli/Mentolat.png
assets/liveHeli/Michinmahuida.png
assets/liveHeli/MochoChoshuenco.png
assets/liveHeli/NevChillan.png
assets/liveHeli/NevLongavi.png
assets/liveHeli/Olca.png
assets/liveHeli/Ollague.png
assets/liveHeli/Osorno.png
assets/liveHeli/Parinacota.png
assets/liveHeli/PlanchonPeteroa.png
assets/liveHeli/PuyehueCCaulle.png
assets/liveHeli/Quetrupillan.png
assets/liveHeli/SanJose.png
assets/liveHeli/SanPedro.png
assets/liveHeli/Sollipulli.png
assets/liveHeli/Taapaca.png
assets/liveHeli/Tatara.png
assets/liveHeli/Tinguiririca.png
assets/liveHeli/Tupungatito.png
assets/liveHeli/Villarrica.png
assets/liveHeli/Yate.png
_old/assets/liveHeli/AntillancaCasablanca.png
_old/assets/liveHeli/Antuco.png
_old/assets/liveHeli/Calbuco.png
_old/assets/liveHeli/Callaqui.png
_old/assets/liveHeli/CarranLosVenados.png
_old/assets/liveHeli/Cay.png
_old/assets/liveHeli/Chaiten.png
_old/assets/liveHeli/Copahue.png
_old/assets/liveHeli/Corcovado.png
_old/assets/liveHeli/Descabezado.png
_old/assets/liveHeli/Guallatiri.png
_old/assets/liveHeli/Hornopiren.png
_old/assets/liveHeli/Hudson.png
_old/assets/liveHeli/Huequi.png
_old/assets/liveHeli/Irruputuncu.png
_old/assets/liveHeli/Isluga.png
_old/assets/liveHeli/LagMaule.png
_old/assets/liveHeli/Lanin.png
_old/assets/liveHeli/Lascar.png
_old/assets/liveHeli/Lastarria.png
_old/assets/liveHeli/Llaima.png
_old/assets/liveHeli/Lonquimay.png
_old/assets/liveHeli/Maca.png
_old/assets/liveHeli/Melimoyu.png
_old/assets/liveHeli/Mentolat.png
_old/assets/liveHeli/Michinmahuida.png
_old/assets/liveHeli/MochoChoshuenco.png
_old/assets/liveHeli/NevChillan.png
_old/assets/liveHeli/NevLongavi.png
_old/assets/liveHeli/Olca.png
_old/assets/liveHeli/Ollague.png
_old/assets/liveHeli/Osorno.png
_old/assets/liveHeli/Parinacota.png
_old/assets/liveHeli/PlanchonPeteroa.png
_old/assets/liveHeli/PuyehueCCaulle.png
_old/assets/liveHeli/Quetrupillan.png
_old/assets/liveHeli/SanJose.png
_old/assets/liveHeli/SanPedro.png
_old/assets/liveHeli/Sollipulli.png
_old/assets/liveHeli/Taapaca.png
_old/assets/liveHeli/Tatara.png
_old/assets/liveHeli/Tinguiririca.png
_old/assets/liveHeli/Tupungatito.png
_old/assets/liveHeli/Villarrica.png
_old/assets/liveHeli/Yate.png
