/* Set the current outer border to 0 because it's messed up,
and put the FLATLY properties inside the DateInput_input class
which works well instead. */
.SingleDatePickerInput {
  border: 0px;
}

/* Fix box width of datepicker to be 100% of parent container*/
.DateInput, .DateInput_1 {
  width: 43%; /* replace with whatever length you prefer */
  background:#333;
}

/* Fix the font size and other stuff of datepicker*/
.DateInput_input, .DateInput_input_1 {
  /* my personal stuff */
  text-align: center;
  line-height: calc(1.5em + 0.75rem);
  /* default flatly stuff */
  height: calc(1.3em + 0.75rem + 2px);
  font-size: 0.9375rem;
  font-weight: 400;
  color: #ffffff;
  background-color: #333;
  background-clip: padding-box;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.DateRangePickerInput {
    background-color:#333;
    display: inline-block;
}

.DateRangePickerInput__withBorder {
    border-radius: 0px;
    border: 1px solid #dbdbdb;
    width:100%;
}

.DateRangePicker {
    position: relative;
    display: inline-block;
    width: 100%;
}